<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Recipe App{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand {% if request.endpoint == 'index' %}active{% endif %}" href="{{ url_for('index') }}">Recipe App</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'recipes.submit_recipe' %}active{% endif %}" href="{{ url_for('recipes.submit_recipe') }}">Submit Recipe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'recipes.view_all_recipes' %}active{% endif %}" href="{{ url_for('recipes.view_all_recipes') }}">All Recipes</a>
            </li>
            {% if session['username'] %}
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'recipes.view_my_recipes' %}active{% endif %}" href="{{ url_for('recipes.view_my_recipes') }}">My Recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'auth.logout' %}active{% endif %}" href="{{ url_for('auth.logout') }}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'auth.register' %}active{% endif %}" href="{{ url_for('auth.register') }}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'auth.login' %}active{% endif %}" href="{{ url_for('auth.login') }}">Login</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <div class="container mt-4">
        {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% set alert_class = 'alert-' + category %}
                        {% if category == 'error' %}
                            {% set alert_class = 'alert-danger' %}
                        {% elif category == 'success' %}
                            {% set alert_class = 'alert-success' %}
                        {% elif category == 'info' %}
                            {% set alert_class = 'alert-info' %}
                        {% elif category == 'warning' %}
                            {% set alert_class = 'alert-warning' %}
                        {% endif %}
                        <div class="alert {{ alert_class }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        {% block content %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>