{% extends 'base.html' %}

{% block title %}My Recipes{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mb-4 text-primary">My Recipes</h1>
        {% if recipes %}
            <div class="list-group">
                {% for recipe in recipes %}
                    <a href="{{ url_for('recipes.view_recipe', recipe_id=recipe[5]) }}" class="list-group-item list-group-item-action flex-column align-items-start mb-2">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ recipe[0] }}</h5>
                            <small class="text-muted text-nowrap">Prep: {{ recipe[1] }} mins | Cook: {{ recipe[2] }} mins</small>
                        </div>
                        <p class="mb-1 text-truncate-custom">{{ recipe[3] }}</p>
                        </a>
                {% endfor %}
            </div>
        {% else %}
            <p>You haven't submitted any recipes yet. <a href="{{ url_for('recipes.submit_recipe') }}">Submit your first recipe!</a></p>
        {% endif %}
        <p class="mt-4"><a href="{{ url_for('index') }}" class="btn btn-secondary">Back to Home</a></p>
    </div>
{% endblock %}